<link rel="stylesheet" href="../Content/css/styles.css" type="text/css">

<h1 class='a-@Model["recipe"].GetRating()'>@Model["recipe"].GetName() | @for(int i = 0; i < @Model["recipe"].GetRating(); i++)
{
  <span>&#9733</span>
}</h1>
<form action="/recipe/@Model["recipe"].GetId()/update" method = "post">
  <input type="hidden" name="_method" value="PATCH">

<img src='@Model["recipe"].GetImage()' alt="" />
<hr>
<h2>INSTRUCTIONS:</h2>
<input type = "text" name = "recipe-name" value = '@Model["recipe"].GetName()'></input>
<br>
<textarea rows = "20" name = "recipe-description">@Model["recipe"].GetDescription()</textarea>
<br>

<label for="rating">Rating:</rating>
<input type="number" name="recipe-rating" value='@Model["recipe"].GetRating()'>
new image link:<input type="text" name="recipe-image" value='@Model["recipe"].GetImage()'>
<br><button type="submit">Update</button>
</form>

<h3>Key ingredients:</h3>
<ul>
  @foreach (var ingredient in @Model["ingredients"])
  {
    <li><form action = "/delete-ingredient-from-recipe" method="post">@ingredient.GetName() | <input hidden name="recipe-ingredient-name" value="@ingredient.GetId()"><input hidden name="recipe-update" value='@Model["recipe"].GetId()'><button type="submit" name="remove">remove</button></form></li>
  }
</ul>

<h3>Categories:</h3>
<ul>
@foreach (var category in @Model["categories"])
{

 <li><form action = "/delete-category-from-recipe" method="post">@category.GetName() | <input hidden name="recipe-category-name" value="@category.GetId()"><input hidden name="recipe-update" value='@Model["recipe"].GetId()'><button type="submit" name="remove">remove</button></form></li>
}
</ul>

<Form action = '/recipe/@Model["recipe"].GetId()/add-Category' method = 'post'>
  <select  name="add-category">
    @foreach (var category in @Model["allCategories"])
    {

      <option value = @category.GetId()>@category.GetName()</option>
    }
  </select>
  <button type="submit" name="name">add category to recipe</button>
</form>

<form action='/recipe/@Model["recipe"].GetId()/add-Ingredient' method = 'post'>
  <select  name="add-ingredient">
    @foreach (var ingredient in @Model["allIngredients"])
    {

      <option value = @ingredient.GetId()>@ingredient.GetName()</option>
    }
  </select>
  <button type="submit" name="name">add key ingredient to recipe</button>
</form>
<form action="/search" method="post">
  <input name="recipe-search-name" value='@Model["recipe"].GetName()'>
  <br><hr>
  <button type="submit" name="button">SEARCH FOR SIMILAR RECIPES</button>
</form>
<a href="/">HOME</a>
